{% extends 'base.html.twig' %}
{% block title %}Module{% endblock %}

{% block navbar %}
{% include '_navbar.html.twig' with {'path': 'module_index_full' } %}
{% endblock %}

{% block body %}

<div id="accreditations_format" class="container my-4">

    <button id="copy" class="btn btn-primary">Copier</button>

    <div id="syllabus" class="syllabus">
        
        <h1 class="text-center">SYLLABUS - PLAN DE COURS 2021-2022</h1>
        <p class="text-center fs_750 text_color_60">2021-{{ module.code }}-Semester {{ module.semester.name }}-{{ module.name }}</p>
        <br>
        
        {#
        <h1 class="card-header mt-0 mb-5 py-4 bg-{{ module.semester.colorName }}">{{ module.name }}</h1>
        #}
    
        <h2 class="mt-3">A. Course References</h2>
    
        <table class="table table-bordered" style="table-layout:fixed">
            <tbody>
                <tr>
                    <th scope="row" class="text-left" style="padding: 5px;">A0. Program name</th>
                    <td colspan="4" class="text-center" style="padding: 5px;">Programme Grande École</td>
                </tr>
                <tr>
                    <th scope="row" class="text-left" style="padding: 5px;">A1. Module code</th>
                    <td colspan="4" class="text-center" style="padding: 5px;">{{ module.code }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-left" style="padding: 5px;">A2. Level / Period / Specialisation</th>
                    <td colspan="4" class="text-center" style="padding: 5px;">Master | Semester {{ module.semester.name }} <br> MRH&TD - Management des ressources humaines & de la transformation digitale</td>
                </tr>
                <tr>
                    <th scope="row" class="text-left" style="padding: 5px;">A3. Track / Delivery mode</th>
                    <td colspan="4" class="text-center" style="padding: 5px;">BT-Bilingual Track | Full-Time</td>
                </tr>
                <tr>
                    <th scope="row" class="text-left" style="padding: 5px;">A4. Name of the Module</th>
                    <td colspan="4" class="text-center" style="padding: 5px;">{{ module.name }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-left" style="padding: 5px;">A4. a. Course titles / language of teaching</th>
                    <td colspan="4" class="text-center" style="padding: 5px;">
                        {% for course in module.courses %}
                        {{ course.name }}
                        <span class="fs_875 text_color_60">({{ course.language }})</span>
                        <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-left" style="padding: 5px;">A5. Department / Sub department</th>
                    <td colspan="4" class="text-center" style="padding: 5px;">{{ module.department }} | {{ module.subDepartment }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-left" style="padding: 5px;">A6. Module prerequisite</th>
                    <td colspan="4" class="text-center" style="padding: 5px;">-</td>
                </tr>
                <tr>
                    <th scope="row" class="text-left" style="padding: 5px;">A7. Module leader / Teaching professor(s)</th>
                    <td colspan="4" class="text-center" style="padding: 5px;">
                        <span class="fw_600">{{ module.leader.firstName }} {{ module.leader.lastName }}</span> <br>
                        {% for course in module.courses %}
                        {% for professor in course.teachingProfessor %}
                        <span>{{ professor.firstName }} {{ professor.lastName }}</span>
                        {% if not loop.last %} & {% endif %}
                        {% endfor %}
                        <span class="fs_875 text_color_60">({{ course.name }})</span>
                        <br>
                        {% endfor %}
                    </td>
                </tr>

                <tr class="text-center fw_600">
                    <th scope="row" class="text-left" style="padding: 5px;">
                        A8. Module contact hours (H)
                    </th>
                    <td class="bg-light_blue_light" style="padding: 5px;">Lecture</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">Assessment Mid term</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">Assessment Final</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">Synchronous e-Learning</td>
                </tr>
                <tr class="text-center">
                    <th scope="row" class="text-center fw_300" style="padding: 5px;">
                            Total of contact hours <br>
                            {{ lectureHours + module.assessmentMidHours + module.assessmentFinalHours + module.syncElearningHours }}
                    </th>
                    <td class="bg-light_blue_light" style="padding: 5px;">{{ lectureHours }}</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">{{ module.assessmentMidHours }}</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">{{ module.assessmentFinalHours }}</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">{{ module.syncElearningHours }}</td>
                </tr>

                <tr class="text-center fw_600">
                    <th scope="row" class="text-left" style="padding: 5px;">A9. Independent learning hours (H)</th>
                    <td class="bg-light_blue_light" style="padding: 5px;">Asynchronous e-Learning</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">Self-study review</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">Field work / Project</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">Other</td>
                </tr>
                <tr class="text-center">
                    <th scope="row" class="text-center fw_300" style="padding: 5px;">
                        Total of learning hours <br>
                        {{ module.asyncElearningHours + module.selfStudyHours + module.projectHours + module.otherHours }}
                    </th>
                    <td class="bg-light_blue_light" style="padding: 5px;">{{ module.asyncElearningHours }}</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">{{ module.selfStudyHours }}</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">{{ module.projectHours }}</td>
                    <td class="bg-light_blue_light" style="padding: 5px;">{{ module.otherHours }}</td>
                </tr>

                <tr>
                    <th scope="row" class="text-left" style="padding: 5px;">A10. Total student workload (in hours)</th>
                    <td colspan="4" class="text-center" style="padding: 5px;">{{ module.ects * 20 }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-left" style="padding: 5px;">A11. ECTS</th>
                    <td colspan="4" class="text-center" style="padding: 5px;">{{ module.ects }}</td>
                </tr>
            </tbody>
        </table>
    
    
        <h2 class="mt-5">B. Module Description</h2>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="bg-light_blue_light">
                        <h3 style="margin-bottom: 10px;">B1. Learning Outcomes</h3>
                        <p class="fw_600 font-italic" style="margin-bottom: 10px;">On successful completion of this module, students should be able to:</p>

                        {% for course in module.courses %}
                        {% if loop.length != 1 %}
                        <h4 class="fw_600 fs_1000 m-0">{{ course.name }}</h4>
                        {% endif %}
                        <div>{{ course.learningOutcomes|raw }}</div>
                        {% endfor %}
                        
                        <h3 style="margin-bottom: 10px;">B2. Content</h3>
                        {% for course in module.courses %}
                        {% if course.description %}
                        {% if loop.length != 1 %}
                        <h4 class="fw_600 fs_1000 m-0">{{ course.name }}</h4>
                        {% endif %}
                        <div>{{ course.description|raw }}</div>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    
        
    
        <h2>C. Learning Methodology</h2>
        <p class="font-italic">Select the different pedagogical methods used and shortly explain their relevance regarding learning goals:</p>

        <table class="table bg-light_blue_light" style="table-layout:fixed">
            <tbody>
                <tr>
                    <td class="col-6">
                        &#9746; Lecture <br>
                        &#9746; Case study <br>
                        &#9744; Field study <br>
                        &#9744; Personal essay <br>
                        &#9746; Book reviews <br>
                        &#9744; Professional meetings <br>
                    </td>
                    <td class="col-6">
                        &#9744; Individual presentation <br>
                        &#9746; Group presentation <br>
                        &#9746; Group works <br>
                        &#9746; Videos <br>
                        &#9744; Synchronous e-Learning <br>
                        &#9744; Asynchronous e-Learning (Cross Knowledge, MOOC, …) <br>
                        &#9744; On site visit (company, …) <br>
                    </td>
                </tr>
            </tbody>
        </table>


        <h2>D. Learning objectives and assessment measures</h2>
        <p class="font-italic bg-danger fw_600 text-white">Select in the left column “I” for an Introduced LO, “R” for a Reinforced LO, or “M” for a Mastered LO</p>
    
        <table id="LO" class="table table-bordered mb-4 fs_875">
            <tbody>

                {% for objective in learningObjectives %}

                    {% if objective.code|slice(0, 2) == 'LG' %}

                        <tr>
                            <td colspan="3" class="fw_600">{{ objective.code }} / {{ objective.description }}</td>
                        </tr>

                    {% else %}

                        <tr>
                            <td class="bg-light_blue_light">
                                {% set a = 0 %}
                                {% for assessment in objective.assessments|filter(assessment => assessment.course.module == module) %}
                                {% set a = a + 1 %}
                                {% endfor %}
                                {% if a == 1 %}R{% endif %}
                                {% if a >= 2 %}M{% endif %}
                                
                                
                            </td>
                            <td>{{ objective.code }}</td>
                            <td>{{ objective.description }}</td>
                        </tr>

                    {% endif %}
                    
                {% endfor %}


{#
                <tr>
                    <td colspan="3" class="fw_600">LG.A / Graduates are able to make informed business decisions</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light">I</td>
                    <td>LO.MIM.A1</td>
                    <td>demonstrate problem solving abilities for business decision-making, by applying appropriate qualitative and
                    quantitative methods</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light">R</td>
                    <td>LO.MIM.A2</td>
                    <td>analyse a variety of information to make relevant managerial decisions</td>
                </tr>
                <tr>
                    <td colspan="3" class="fw_600">LG.B / Graduates are able to integrate global perspectives in their decisions</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light">M</td>
                    <td>LO.MIM.B1</td>
                    <td>demonstrate effective communication skills in an international environment</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light"></td>
                    <td>LO.MIM.B2</td>
                    <td>operate in an international and multicultural environment</td>
                </tr>
                <tr>
                    <td colspan="3" class="fw_600">LG.C / Graduates are able to demonstrate agility and creativity</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light"></td>
                    <td>LO.MIM.C1</td>
                    <td>produce effective business deliverables through teamworking</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light"></td>
                    <td>LO.MIM.C2</td>
                    <td>demonstrate agility in a fast and changing environment</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light"></td>
                    <td>LO.MIM.C3</td>
                    <td>experiment new solutions using creative approaches</td>
                </tr>
                <tr>
                    <td colspan="3" class="fw_600">LG.D / Graduates are able to apply advanced knowledge and develop professional skills</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light"></td>
                    <td>LO.MIM.D1</td>
                    <td>deliver a professional speech on a business topic</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light"></td>
                    <td>LO.MIM.D2</td>
                    <td>provide an immediate contribution to their organization through an additional expertise based on in-depth
                    knowledge and practices of disciplines such as auditing, marketing, finance, digital business…</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light"></td>
                    <td>LO.MIM.D3</td>
                    <td>develop new skills through lifelong learning</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light"></td>
                    <td>LO.MIM.D4</td>
                    <td>create new knowledge through empirical analysis and research</td>
                </tr>
                <tr>
                    <td colspan="3" class="fw_600">LG.E / Graduates are able to behave as conscious leaders and contribute to an inclusive and sustainable society</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light"></td>
                    <td>LO.MIM.E1</td>
                    <td>use leadership strategies in order to ensure sustainable performance of their organization</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light"></td>
                    <td>LO.MIM.E2</td>
                    <td>differentiate professional expectations of ethical conduct into their field of expertise</td>
                </tr>
                <tr>
                    <td class="bg-light_blue_light"></td>
                    <td>LO.MIM.E3</td>
                    <td>integrate social responsibility, inclusive prosperity and ethics in their decision-making process</td>
                </tr>

                #}

            </tbody>
        </table>

        

        <br>

        <table id="AM" class="table table-bordered mb-4 fs_875">
            <tr>
                <td rowspan="2" colspan="2" class="fw_600" style="padding: 5px; font-size: 10pt;">Assessment methods</td>
                <td colspan="14" class="bg-light_blue_light fw_600 text-center" style="padding: 5px; font-size: 10pt;">Intended learning objectives to be assessed</td>
            </tr>




            <tr class="bg-light_blue_light fw_600 text-center">
                {% for objective in learningObjectives|filter(objective => objective.isTitle == 0) %}
                    <td>{{ objective.code }}</td>
                {% endfor %}
                {#
                <td>LO.MIM.A1</td>
                <td>LO.MIM.A2</td>
                <td>LO.MIM.B1</td>
                <td>LO.MIM.B2</td>
                <td>LO.MIM.C1</td>
                <td>LO.MIM.C2</td>
                <td>LO.MIM.C3</td>
                <td>LO.MIM.D1</td>
                <td>LO.MIM.D2</td>
                <td>LO.MIM.D3</td>
                <td>LO.MIM.D4</td>
                <td>LO.MIM.E1</td>
                <td>LO.MIM.E2</td>
                <td>LO.MIM.E3</td>
                #}
            </tr>
            <tr>
                <td colspan="2" class="fw_600">Mid-Term Assessment (50%)</td>
                <td colspan="14" class="bg-light_blue_light"></td>
            </tr>

            {% for course in module.courses %}
                {% for assessment in course.assessments|filter(assessment => assessment.stage == "Mid Term") %}
                    <tr>
                        <td colspan="2">{{ assessment.method }} - {{ course.name }}</td>

                        {% for objective in learningObjectives|filter(objective => objective.isTitle == 0) %}
                        <td class="bg-light_blue_light text-center">
                            {% set i = 0 %}
                            {% for obj in assessment.learningObjectives %}
                            {% if objective == obj %}
                            {% set i = i + 1 %}
                            {% endif %}
                            {% endfor %}
                            {% if i >= 1 %}
                            &#9746;
                            {% else %}
                            &#9744;
                            {% endif %}
                        </td>
                        {% endfor %}

                    </tr>
                {% endfor %}
                
            {% endfor %}
            
            <tr>
                <td class="fw_600">Final examination (50%)</td>
                <td>Assessment duration (hours)</td>
                <td colspan="14" class="bg-light_blue_light"></td>
            </tr>
            {% for course in module.courses %}
            {% for assessment in course.assessments|filter(assessment => assessment.stage == "Final") %}
            <tr>
                <td>{{ assessment.method }} - {{ course.name }}</td>
                <td class="text-center">{{ assessment.duration / 60 }}</td>

                {% for objective in learningObjectives|filter(objective => objective.isTitle == 0) %}
                    <td class="bg-light_blue_light text-center">
                        {% set i = 0 %}
                        {% for obj in assessment.learningObjectives %}
                            {% if objective == obj %}
                                {% set i = i + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if i >= 1 %}
                        &#9746;
                        {% else %}
                        &#9744;
                        {% endif %}                        
                    </td>
                {% endfor %}

            </tr>
            {% endfor %}
            
            {% endfor %}
            <tr>
                <td colspan="2">TOTAL (100%)</td>

                {% for objective in learningObjectives|filter(objective => objective.isTitle == 0) %}
           
                    <td class="bg-light_blue_light text-center">
                        {% set i = 0 %}
                        {% for course in module.courses %}
                            {% for assessment in course.assessments %}
                                {% for obj in assessment.learningObjectives %}
                                    {% if obj == objective %}
                                    {% set i = i + 1 %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}           
                        {% endfor %}
                        {{ i }}
                    </td> 
                
                {% endfor %}

            </tr>

        </table>

        <br>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="bg-light_blue_light">
                        <p style="text-decoration: underline;">Mid term assessment description (Indicate Common mid-term or in Class exam)</p>
                        {% for course in module.courses %}
                            {% if loop.length != 1 %}
                            <h4 class="fw_600 fs_1000 m-0">{{ course.name }}</h4>
                            {% endif %}
                            <ul>
                                {% for assessment in course.assessments|filter(assessment => assessment.stage == "Mid Term") %}
                                    <li class="m-0">
                                        {{ assessment.method }}<br>
                                        {{ assessment.description|raw }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

        <br>

                <p class="fw_600 mb-0">Any absence to any midterm assessment will entail a zero mark, unless a justification is
                    validated by the School's
                    administration.</p>

        <br>


        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="bg-light_blue_light">
        
                        <p style="text-decoration: underline;">Final examination (Indicate in class Exam or during Final Exam week)</p>
                        {% for course in module.courses %}
                        {% if loop.length != 1 %}
                        <h4 class="fw_600 fs_1000 m-0">{{ course.name }}</h4>
                        {% endif %}
                        <ul>
                            {% for assessment in course.assessments|filter(assessment => assessment.stage == "Final") %}
                            <li class="m-0">
                                {{ assessment.method }}<br>
                                {{ assessment.description|raw }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

        {#


        {% for course in module.courses %}
        {% if loop.length != 1 %}
        <h4 class="fw_600 mb-2 fs_1000">{{ course.name }}</h4>
        {% endif %}
    
        <table class="table table-bordered mb-4">
            <thead>
                <tr class="bg-light_blue_light">
                    <th scope="col" class="col-3"> </th>
                    <th scope="col" class="col-3">Method</th>
                    <th scope="col" class="col-6">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for assessment in course.assessments %}
                <tr>
                    <th scope="row" class="text-left">{{ assessment.stage|nl2br }}</th>
                    <td>{{ assessment.method|nl2br }}</td>
                    <td>{{ assessment.description|nl2br }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% endfor %}
        #}
    
        <h2>E. E-Learning</h2>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="bg-light_blue_light">
                        {% for course in module.courses %}
                        {% if course.eLearning %}
                        {% if loop.length != 1 %}
                        <h4 class="fw_600 fs_1000 m-0">{{ course.name }}</h4>
                        {% endif %}
                        <div>{{ course.eLearning|raw }}</div>
                        {% else %}
                        <br>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

    
        <h2>F. Textbook / Article</h2>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="bg-light_blue_light">
                        {% for course in module.courses %}
                            {% if course.textbook %}
                                {% if loop.length != 1 %}
                                    <h4 class="fw_600 fs_1000 m-0">{{ course.name }}</h4>
                                {% endif %}
                                <div>{{ course.textbook|raw }}</div>                                
                            {% else %}
                            <br>
                            {% endif %}
                        {% endfor %}   
                    </td>
                </tr>
            </tbody>
        </table>

    
        <h2>G. Bibliography</h2>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="bg-light_blue_light">
                        {% for course in module.courses %}
                        {% if course.bibliography %}
                            {% if loop.length != 1 %}
                            <h4 class="fw_600 fs_1000 m-0">{{ course.name }}</h4>
                            {% endif %}
                            <div>{{ course.bibliography|raw }}</div>
                        {% else %}
                        <br>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

        
    
        <h2>H. Session List</h2>
        {% for course in module.courses %}
    
        {% if loop.length != 1 %}
        <h4 class="fw_600 fs_1000 m-0">{{ course.name }}</h4>
        {% endif %}

        <table class="table table-bordered mb-4 session_list">
            <thead>
                <tr class="bg-light_blue_light">
                    <th scope="col">Session</th>
                    <th scope="col">Session duration (In class or Synchronous e-Learning)</th>
                    <th scope="col">THEME</th>
                    <th scope="col">BIBLIOGRAPHY REFERENCES (Reading before class)</th>
                    <th scope="col">Asynchronous e-Learning (Indicate Before or after class)</th>
                    <th scope="col">ASSIGNMENT / ASSESSMENT (Indicate before or in-class)</th>
                </tr>
            </thead>
            <tbody>
                {% for session in course.sessions %}
                <tr>
                    <th scope="row" class="text-center">{{ loop.index }}</th>
                    <td class="text-center">{{ session.duration / 60}}</td>
                    <td>{{ session.theme|nl2br }}</td>
                    <td class="text-break">{{ session.bibliographyReferences|nl2br }}</td>
                    <td class="text-break"></td>
                    <td>{{ session.assignment|nl2br }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% endfor %}
    
        <h2>I. Links with companies</h2>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="bg-light_blue_light">
                        {% for course in module.courses %}
                        {% if course.linksWithCompanies %}
                        {% if loop.length != 1 %}
                        <h4 class="fw_600 fs_1000 m-0">{{ course.name }}</h4>
                        {% endif %}
                        <div>{{ course.linksWithCompanies|raw }}</div>
                        {% else %}
                        <br>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

        
    
        <h2>J. Teaching Methods</h2>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <p>Typically classroom time will be used in the following way: lecture and presentation of the content led by the
                            instructor, in-class exercises linked to lectures, discussions on readings.
                            In addition, students are expected to prepare themselves through the following mechanisms: reading recommended
                            chapters
                            and articles, solving the exercises related to each session, research and preparation of the lecture,
                            preparation of
                            case studies.
                            The content and the slides are available to student though school extranet including the sessions’ slides,
                            exercises and
                            readings.</p>
                        
                        <p>Lectures are used to discuss the key concepts, themes and techniques of the module. Theoretical issues will
                            always be
                            illustrated by recent examples; therefore students are strongly encouraged to regularly read business
                            newspapers.
                            Besides, reading the news is an excellent way to exercise one's analytical skills and to bridge the gap between
                            theoretical knowledge and daily events.</p>
                        
                        <p>To encourage involvement in the learning process students will be asked to participate individually to the
                            lecture
                            and
                            to present their solutions to exercises. This will constitute an opportunity for a feedback by the instructor,
                            and
                            as
                            such, should be considered as part of formative assessment.
                            If the module is given in English, French translations will be given for important technical and ‘jargon’ terms.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    
        
    
    
        <h2>K. Academic Integrity</h2>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <p>Students are required to read the article related to the PSB – Paris School of Business Rules and Regulation on
                            plagiarism and to acknowledge the multiple forms that plagiarism takes along with the sanctions that can go as
                            far as
                            school exclusion. Every infraction will be reported to the disciplinary board which will analyze the situation
                            and
                            circumstances, and decide the sanction to apply.</p>
                        
                        <p>Academic dishonesty may take the forms of: 1. Plagiarism, i.e. copying the ideas or work of another person
                            without
                            citing the source. This includes books, extracts of articles, tables, diagrams and material from internet or
                            other
                            electronic sources. 2. Submission of work more than once, including work submitted at a prior institution,
                            unless prior
                            approval has been obtained. 3. Cheating on an examination. 4. Submission of work that is not your own without
                            citation.
                            5. Adding your name to work to which you have not contributed or allowing another student to do the same. 6.
                            Unauthorized or inappropriate use of computers, calculators and other forms of technology in coursework,
                            assignments or
                            examinations. All these can lead to disciplinary sanction.
                            Please refer to your student handbook for full details.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    
        
    
    
    
    </div>


    <div class="my-3 d-flex justify-content-between align-items-center">
        <a href="{{ path('module_index_full') }}" class="btn btn_material mr-auto">
            <i class="fas fa-chevron-left mr-2"></i>
            <span>back to module list</span>
        </a>
        {% if is_granted('ROLE_ADMIN') %}
        {{ include('module/_delete_form.html.twig') }}
        <a class="btn btn-primary" href="{{ path('module_edit', {'id': module.id}) }}">edit</a>
        {% endif %}
    </div>

</div>

<script>
    // function copy() {
    //     var copyText = document.querySelector("#syllabus");
    //     copyText.select();
    //     document.execCommand("copy");
    // }
    // document.querySelector("#copy").addEventListener("click", copy);

    function copy() {
        var copyText = document.querySelector("#syllabus")
        var range = document.createRange()
        range.selectNode(copyText)
        window.getSelection().removeAllRanges() // clear current selection
        window.getSelection().addRange(range) // to select text
        document.execCommand("copy")
        window.getSelection().removeAllRanges() // to deselect
    }
    document.querySelector("#copy").addEventListener("click", copy);

</script>

{% endblock %}