<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    <link rel="icon" type="image/png" href="{{ asset('/img/favicon.svg') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
    {% block navbar %}{{ include('_navbar.html.twig') }}{% endblock %}
    {{ include('_alert.html.twig') }}
    {% block body %}{% endblock %}
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>